/* fonts include */
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaRgRegular.eot');
    src: url('fonts/ProximaNovaRgRegular.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaRgRegular.woff2') format('woff2'),
         url('fonts/ProximaNovaRgRegular.woff') format('woff'),
         url('fonts/ProximaNovaRgRegular.ttf') format('truetype'),
         url('fonts/ProximaNovaRgRegular.svg#ProximaNovaRgRegular') format('svg');
    font-weight:400;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaRegIt.eot');
    src: url('fonts/ProximaNovaRegIt.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaRegIt.woff2') format('woff2'),
         url('fonts/ProximaNovaRegIt.woff') format('woff'),
         url('fonts/ProximaNovaRegIt.ttf') format('truetype'),
         url('fonts/ProximaNovaRegIt.svg#ProximaNovaRegIt') format('svg');
    font-weight:400;
    font-style:italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaLight.eot');
    src: url('fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaLight.woff2') format('woff2'),
         url('fonts/ProximaNovaLight.woff') format('woff'),
         url('fonts/ProximaNovaLight.ttf') format('truetype'),
         url('fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
    font-weight:200;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaBold.eot');
    src: url('fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaBold.woff2') format('woff2'),
         url('fonts/ProximaNovaBold.woff') format('woff'),
         url('fonts/ProximaNovaBold.ttf') format('truetype'),
         url('fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
    font-weight:600;
}
body{
	font-family: 'Proxima Nova',Tahoma,sans-serif;
}